venv39/
venv38/
venv310/
venv3.10/
venv/
.idea/
__pycache__/


*.png
*.pdf

/Data collection/*
!/Data collection/.gitkeep
!/Data collection/teste piscina 1

/results/
!/results/.gitkeep

/video_files/
!/video_files/.gitkeep
Data collection/*.ipynb
