venv39/
venv38/
venv/
.idea/
video_files/
Data collection/testes-impacto/cam filmar/
Data collection/testes-impacto/cam fotografica/
Data collection/testes-impacto/gopro/
Data collection/testes-impacto/teste 001/
Data collection/testes-impacto/teste 003/
Data collection/testes-impacto/teste 004/
Data collection/testes-impacto/teste-006/
Data collection/testes-impacto/teste-007/
Data collection/testes-impacto/teste-009/
Data collection/testes-impacto/teste-010/

*.png
*.pdf
Data collection/
__pycache__/
results/
